.square {
    width: 100px;
    height: 100px;
    border: 1px solid black;
    display: inline-block;
}

.square-gray {
    background-color: gray;
    width: 100px;
    height: 100px;
    border: 1px solid black;
    display: inline-block;
}

#board {
    width: 100%;
    text-align: center;
}